# fly.toml app configuration file generated for resumeai-backend on 2026-02-18T18:03:56Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'resumeai-backend'
primary_region = 'iad'

[build]

[deploy]
  release_command = "npx prisma generate && npx prisma migrate deploy"


[http_service]
  internal_port = 3333
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
